_site
.sass-cache
.jekyll-metadata
.jekyll-cache
.vscode
.idea
.DS_Store
__shuo/projects/sixgod_shader/Library
__shuo/projects/sixgod_shader/Logs
__shuo/projects/sixgod_shader/Packages
__shuo/projects/sixgod_shader/ProjectSettings
__shuo/projects/sixgod_shader/Assets/AmplifyShaderEditor
__shuo/projects/sixgod_shader/Temp/UnityLockfile
